#Q1  In Python, a ‘for loop‘ is used to iterate over a sequence of items,  such as a Python tuple, list, string, or range. 
#   The loop will execute a block of statements for each item in the sequence.
#   The for loop is used when we know the number of iterations.

In [8]:
l = [1,2,3,4,5,6,7,8,9,10]

In [9]:
for i in l :
    print(i/2 )

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [1]:
counter = 0

while counter < 1:
    print('A while loop is used when number of iterations is unknown.')
    counter = counter + 1    
else:
    print('It is used when we need to end the loop on a condition other than the number of repititions.')

A while loop is used when number of iterations is unknown.
It is used when we need to end the loop on a condition other than the number of repititions.

#Q2 python program to print the sum and product of the first 10 natural numbers using for 
and while loop.

In [5]:
l = [1,2,3,4,5,6,7,8,9,10]

In [6]:
result = 0
for i in l :
    result = result+ i 
result

55

In [11]:
number = int(input("enter your number"))
factorial = 1 
while number > 0 :
    factorial = factorial*number
    number = number-1
factorial

enter your number 10

3628800

#Q3  python program to compute the electricity bill for a household

In [1]:
def calculateBill(units):

    
	if (units <= 100):
	
		return units * 4.5;
	
	elif (units <= 200):
	
		return ((100 * 4.5) + (units - 100) * 6);
	
	elif (units <= 300):
	
		return ((100 * 4.5) + (100 * 6) + (units - 200) * 10);
	
	elif (units > 300):
	
		return ((100 * 4.5) + (100 * 6) + (100 * 10) + (units - 300) * 20);
	
	return 0;

units = 310;
print(calculateBill(units));

2250.0

#Q4 list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4
or 5 then append that number in a list and print that list

In [2]:
l4 =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
     39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74,
     75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
res = []
for i in l4:
    res.append(i*i*i)
print(res)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [4]:
res = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625,
       17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125,
       97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 
       250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039,
       512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736,
       912673, 941192, 970299, 1000000]

In [5]:
new = []
for i in res:
     if    i % 4 == 0 or i % 5 == 0:
            new.append(i)
print(new)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

#Q5  program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [6]:
string = "I want to become a data scientist"

vowels = [string.count(x) for x in "aeiou"]
print(vowels)

print(sum(vowels))

[4, 3, 2, 2, 0]
11