#Q1. Write a  program to accept percentage from user and display the grade according to the following criterion:			
			
	MARKS            	GRADE	
	>90	                 A	
	>80 and <=90             B	
	>60 and <=80	         C	
	below 60	         D

In [1]:
sub1=int(input("Enter marks of the 1st subject: "))
sub2=int(input("Enter marks of the 2nd subject: "))
sub3=int(input("Enter marks of the 3rd subject: "))
sub4=int(input("Enter marks of the 4th subject: "))
sub5=int(input("Enter marks of the 5th subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5

if(avg>90):
    print("Grade: A")
elif(avg>80 and avg<=90):
    print("Grade: B")
elif(avg>60 and avg<=80):
    print("Grade: C")
elif(avg<60):
    print("Grade: D")

Enter marks of the 1st subject:  99
Enter marks of the 2nd subject:  85
Enter marks of the 3rd subject:  76
Enter marks of the 4th subject:  94
Enter marks of the 5th subject:  71

Grade: B

#Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:			
			
	TAX	       COST PRICE (in Rs)	
	15%	      >100000	
	10%	      >50000 and <=100000	
	5%	      <= 50000

In [2]:
x=0

cp=int(input("Enter the cost of the bike: "))

if cp>100000:

   x=15/100*cp

   print("Tax value=15%",x)

elif cp>50000 and cp<=100000:

   x=10/100*cp

   print("Tax value=10%",x)

elif cp<=50000:

     x=5/100*cp

     print("Tax value=5%",x)

Enter the cost of the bike:  70000

Tax value=10% 7000.0

#Q3. Accept any city from the user and display monuments of that city.			
			
	CITY	    MONUMENT	
	Delhi	    Red Fort	
	Agra	    Taj Mahal	
	Jaipur	    Jal Mahal

In [3]:
city = input("Enter city NAME")
if city.upper() == "DELHI":
    print("Red Fort")
    
elif city.upper() == "AGRA":
    print("Raj Mahal")
            
elif city.upper() == "JAIPUR":
    print("Jal Mahal")

Enter city NAME DELHI

Red Fort

#Q4. Check how many times a given number divided by 3 before it is less than or equal to 10.

In [6]:
count = 0

number = 210

while number > 10:
       # divide number by 3
    number = number / 3
       # increase the count
    count = count + 1
    
print('total iteration required',count)

total iteration required 3

#Q5. Why and when to use a while loop in python give a detailed description ?

In [13]:
#Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied.

#And when the condition becomes false, the line immediately after the loop in the program is executed.

# Python program to illustrate
# while loop
count = 0
while (count < 3):
	count = count + 1
	print("Hello")

Hello
Hello
Hello

#Q6. Use nested while loop to print 3 different pattern.

In [3]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        k = 0
        while  k <= 5 :
            print(i*j*k, end=" ")
            k += 1
        print()
        j += 1
    print()
    i += 1

0 0 0 0 0 0
0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15

0 0 0 0 0 0
0 2 4 6 8 10
0 4 8 12 16 20
0 6 12 18 24 30

0 0 0 0 0 0
0 3 6 9 12 15
0 6 12 18 24 30
0 9 18 27 36 45

0 0 0 0 0 0
0 4 8 12 16 20
0 8 16 24 32 40
0 12 24 36 48 60

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
0 1 2
0 2 4
0 3 6

#Q7. Reverse a while loop to display numbers from 10 to 1.

In [4]:
i = 10 
while i > 0: 
    print(i) 
    i -= 1

10
9
8
7
6
5
4
3
2
1